<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:security="http://www.springframework.org/schema/security"
        xsi:schemaLocation="http://www.springframework.org/schema/beans      
                    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd       
                    http://www.springframework.org/schema/security       
                    http://www.springframework.org/schema/security/spring-security-4.0.xsd" >
 
    <security:http auto-config="true" use-expressions="true">
    	<security:access-denied-handler error-page="/erpage" />
        <security:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/account/**" access="isAuthenticated()"/>
        <security:intercept-url pattern="/**" access="permitAll" />
        <security:csrf disabled="true"/> 
        <security:form-login 
        	login-page="/login" 
        	username-parameter="username" 
			password-parameter="password" 
			login-processing-url="/j_spring_security_check"
        	authentication-failure-url="/login?error=1" 
        	default-target-url="/index" />
        <security:logout 
        	invalidate-session="true" 
        	logout-success-url="/login?loggedout=true" 
        	logout-url="/logout"/>
        
         
    </security:http>
     
    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider>
            <security:password-encoder hash="md5"/>
            <security:jdbc-user-service
                data-source-ref="dataSource"
                users-by-username-query="select u.id, u.password, u.enable as ENABLED from accounts u where u.id = ?"
                authorities-by-username-query=
                        "select u.id, u.rol_name as authority
                        from accounts u
                        where u.id = ?"
            />
        </security:authentication-provider>
    </security:authentication-manager>
 
</beans>